* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    text-decoration: none !important;
    list-style: none !important;
    outline: none !important;
    padding: 0;
    margin: 0;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
}

body {
    min-height: 100vh;
    /* background: linear-gradient(to bottom, rgba(82, 9, 30, 0.82) 0%, #af4716 100%); */
}

/*=====================
       Icons
=====================*/
/*This is for the material icons (Google fonts)*/
.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

/*=====================
       Side Bar
=====================*/
h1 {
    color: black;
}

li {
    color: black;
}

.MainFlex {
    display: flex;
}

.MainFlex .side-bar {
    position: relative;
    background-color: #f2f2f2;
    width: 20vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.MainFlex .side-bar .logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.MainFlex .side-bar .logo-name {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #537479;
    border-radius:10px; /* round corners */
    box-sizing: 10px;
}



.MainFlex .side-bar li {
    font-size: 24px;
    padding: 10px 40px;
    display: flex;
    align-items: center;
}

.MainFlex .side-bar li:hover {
    background: aliceblue;
    color: rgb(134, 183, 225);
    font-weight: bolder;
}

.MainFlex .side-bar a {
    text-decoration: none;
    color: inherit;
}

.MainFlex .side-bar .active {
    font-weight: bolder;
}




/*=====================
       container
=====================*/
.container {
    font-family: "Nunito", sans-serif;
    display: flex;
}

.container h1 {
    grid-area: text;
    align-self: center;
    justify-self: center;
    background-color: white;
    font-size: 80px;
    font-weight: 800;
}



/*This is to set up the grid layout of the page*/
.welcomeScreenGrid {
    padding: 30px;
    display: grid;
    gap: 0px 0px;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    grid-template-areas:
        "text"
        "startButton";
}


/*===============================
       Preloader/Countdown
=================================*/
/*Preloader*/
#preloader {
    background: white url(/static/images/preloader_circle2.gif) no-repeat center;
    background-size: 20%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}

iframe {
    display: none;
}

/*What this will do is that it will hide the YT video showing on the page, but
    the loader will still work*/