* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    text-decoration: none !important;
    list-style: none !important;
    outline: none !important;
    padding: 0;
    margin: 0;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
}

body {
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(82, 9, 30, 0.82) 0%, #af4716 100%);
}

/*=====================
       Icons
=====================*/
/*This is for the material icons (Google fonts)*/
.material-icons-outlined {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}






/*==============================
       Popup player selection
===============================*/
.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    /* display: none; */
}

.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    background: #fff;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}


.popup .close-btn {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup .num-btn {
    background: #c74c6f;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 30px;
    margin-bottom: 60px;
}

.popup.active .overlay {
    display: block;
}

/* .popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
} */
