<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>Retropoly | Home</title>
    <link rel="icon" href="/static/images/logo.jpg" type="image/x-icon"> <!--add icon link. This icon will show next to Title-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css"/>
    
    <!-- Font Google -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <!------------------------------------------THIS IS FOR THE HOME PAGE--------------------------------------->


  <!-- Navbar -->
<nav class="navbar navbar-expand-lg">
    <div class="container"> 
      <img src="/static/images/logo.jpg" alt="logo" class="logo-1">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="fas fa-bars"></span> </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"> <a class="nav-link" href="" data-scroll-nav="0">Home</a></li>
          <li class="nav-item"> <a class="nav-link" href="" data-scroll-nav="1">About</a></li>
          <li class="nav-item"> <a class="nav-link" href="" data-scroll-nav="2">Values</a></li>
          <li class="nav-item"> <a class="nav-link" href="" data-scroll-nav="4">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar --> 

<!-- Banner Image -->

<div class="banner text-center" data-scroll-index='0'>
    <div class="banner-overlay">
      <div class="container">
        <h1 class="text-capitalize">Retropoly Game (BETA)</h1>
        <p>
          The aim is to teach players scrum development with the use of a Kanban board 
          which will be used as a story telling device and teaching points throughout the game. 
        </p>
        <a href="{{ url_for('dashboardWelcome') }}" class="banner-btn">Start Game</a></div>
    </div>
  </div>
  
  <!-- End Banner Image --> 

  <!-- About -->

<div class="about-us section-padding" data-scroll-index='1'>
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-title text-center">
          <h3>Play Retropoly Game with your team Online!</h3>
          <p>All the features of the printed version plus additional features are now available online! Simply start and enjoy the game.</p>
          <span class="section-title-line"></span> </div>
        <div class="col-md-6 mb-50">
          <div class="section-info">
            <div class="sub-title-paragraph">
              <h4>Play and Learn</h4>
              <h5>Retropoly allows players to have discussions throughout the game 
                in relation to their own progress as a team. 
                They will discuss what is going well, 
                what needs improvement and what they need to stop doing. 
                This means that the team can change their approach from sprint to sprint 
                taking on-board lessons learned and progressing the story scenario. </h5>
              
                <p>
                  When creating the game the team will be asked to select the number of players in their team (up to a maximum of 5).
                  They will then enter the names of each player. 

                  The Kanban board will then display with the story scenario in the backlog list. 
                  And leave it up to the team to decide in which order they should work through the list. 
                  After that discussion is made and the priority list is decided, 
                  the players will move the story points they want to develop into the to-do list. 
                </p>
            </div>
            <a href="{{ url_for('home2') }}" class="anchor-btn">Learn more <i class="fas fa-arrow-right pd-lt-10"></i></a> </div>
        </div>
        <div class="col-md-6 mb-50">
          <div class="section-img"> <img src="/static/images/about.png" alt="" class="img-responsive"/> </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- End About --> 

  <!-- Rules -->
<div class="rules section-padding bg-grey" data-scroll-index='2'>
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-title text-center">
          <h3>Retropoly values</h3>
          <p>Scrum development with the use of a Kanban board</p>
          <span class="section-title-line"></span> </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-30">
          <div class="rule-box bg-white text-center">
            <div class="icon"> <i class="fas fa-chart-line"></i> </div>
            <div class="icon-text">
              <h4 class="title-box">Courage</h4>
              <p>Retropoly Team members have courage to do the right thing and work on tough problem.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-30">
          <div class="rule-box bg-white text-center">
            <div class="icon"> <i class="fas fa-glasses "></i> </div>
            <div class="icon-text">
              <h4 class="title-box">Focus</h4>
              <p>Everyone focuses on the work of the Sprint and the goals of the Retropoly Team.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-30">
          <div class="rule-box bg-white text-center">
            <div class="icon"> <i class="fas fa-trophy"></i> </div>
            <div class="icon-text">
              <h4 class="title-box">Commitment</h4>
              <p>People personally commit to achiving the goals of the Retropoly Team.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-30">
          <div class="rule-box bg-white text-center">
            <div class="icon"> <i class="fas fa-handshake"></i> </div>
            <div class="icon-text">
              <h4 class="title-box">Respect</h4>
              <p>Retropoly Team members respect other th be capable, independent poeple.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-30">
          <div class="rule-box bg-white text-center">
            <div class="icon"> <i class="fas fa-comments"></i> </div>
            <div class="icon-text">
              <h4 class="title-box">Openness</h4>
              <p>The Retropoly Team and its stakeholders agree 
                to be open about all the work and the challenges 
                with performing the work</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mb-30">
          <div class="rule-box bg-white text-center">
            <div class="icon"> <i class="fas fa-paint-brush"></i> </div>
            <div class="icon-text">
              <h4 class="title-box">Clean Design</h4>
              <p>Sed malesuada, est eget condimentum iaculis, nisi ex facilisis metus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- End Rules -->
<!-- Testimonials -->
<!-- <div class="testimonials">
    <div class="testimonials-overlay section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <div class="owl-carousel owl-theme">
              <div class="testimonial-item text-center">
                <div class="icon"> <i class="fas fa-comments"></i> </div>
                <p class="m-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div class="testimonial-author text-center">
                  <h5>Rup Jakhar</h5>
                  <h6>Web Desinger</h6>
                </div>
              </div>
              <div class="testimonial-item text-center">
                <div class="icon"> <i class="fas fa-comments"></i> </div>
                <p class="m-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div class="testimonial-author text-center">
                  <h5>Yogesh Singh</h5>
                  <h6>Web Desinger</h6>
                </div>
              </div>
              <div class="testimonial-item text-center">
                <div class="icon"> <i class="fas fa-comments"></i> </div>
                <p class="m-auto">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <div class="testimonial-author text-center">
                  <h5>Vivek Singh</h5>
                  <h6>Web Desinger</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- End Testimonials --> 
  <!-- Contact -->
<div class="contact section-padding" data-scroll-index='4'>
    <div class="container">
      <div class="row">
        <div class="col-md-12 section-title text-center">
          <h3>Contact Us For More</h3>
          <p>Vestibulum elementum dui tempus dolor gravida, vel mattis erat fermentum.</p>
          <span class="section-title-line"></span> </div>
        <div class="col-lg-5 col-md-4">
          <div class="part-info">
            <div class="info-box">
              <div class="icon"> <i class="fas fa-phone"></i> </div>
              <div class="content">
                <h4>Phone :</h4>
                <p>0123456789</p>
              </div>
            </div>
            <div class="info-box">
              <div class="icon"> <i class="fas fa-map-marker-alt"></i> </div>
              <div class="content">
                <h4>Address :</h4>
                <p>10 Colinton RD, Ediburgh, EH10 5DT</p>
              </div>
            </div>
            <div class="info-box">
              <div class="icon"> <i class="fas fa-envelope"></i> </div>
              <div class="content">
                <h4>Mail :</h4>
                <p><a href="#">info@123.com</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7 col-md-8">
          <div class="contact-form">
            <form class='form' id='contact-form' method='post' data-toggle='validator'>
              <input type='hidden' name='form-name' value='contact-form' />
              <div class="messages"></div>
              <div class="controls">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input id="form_name" type="text" name="name" placeholder="Name *" required data-error="name is required.">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <input id="form_email" type="email" name="email" placeholder="Email *" required data-error="Valid email is required.">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <input id="form_subject" type="text" name="subject" placeholder="Subject">
                    </div>
                  </div>
                  <div class="col-lg-12 form-group">
                    <textarea id="form_message" name="message" class="form-control" placeholder=" Type Your Message " rows="4" required data-error="Please,leave us a message."></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                  <div class="col-lg-12 text-center">
                    <button class="bttn">Send Message</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Contact -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> 
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script> 
  <!-- owl carousel js --> 
  <!-- <script src="js/owl.carousel.min.js"></script>  -->
  <!-- magnific-popup --> 
  <script src="js/jquery.fancybox.min.js"></script> 
  
  <!-- scrollIt js --> 
  <script src="/static/js/scrollIt.min.js"></script> 
  
  <!-- isotope.pkgd.min js --> 
  <script src="js/isotope.pkgd.min.js"></script> 
  <script>
    $(window).on("scroll",function () {
  
        var bodyScroll = $(window).scrollTop(),
            navbar = $(".navbar");
  
        if(bodyScroll > 130){
  
            navbar.addClass("nav-scroll");
            $('.navbar-logo img').attr('src','images/logo-black.png');
  
  
        }else{
  
            navbar.removeClass("nav-scroll");
            $('.navbar-logo img').attr('src','images/logo-white.png');
  
        }
  
    });
  
    $(window).on("load",function (){
  
  
  
  var bodyScroll = $(window).scrollTop(),
  navbar = $(".navbar");
  
  if(bodyScroll > 130){
  
  navbar.addClass("nav-scroll");
  $('.navbar-logo img').attr('src','images/logo-black.png');
  
  
  }else{
  
  navbar.removeClass("nav-scroll");
  $('.navbar-logo img').attr('src','images/logo-white.png');
  
  }
  
  /* smooth scroll
    -------------------------------------------------------*/
    $.scrollIt({
  
  easing: 'swing',      // the easing function for animation
  scrollTime: 900,       // how long (in ms) the animation takes
  activeClass: 'active', // class given to the active nav element
  onPageChange: null,    // function(pageIndex) that is called when page is changed
  topOffset: -63
  });
  
  /* isotope
  -------------------------------------------------------*/
  var $gallery = $('.gallery').isotope({});
  $('.gallery').isotope({
  
      // options
      itemSelector: '.item-img',
      transitionDuration: '0.5s',
  
  });
  
  
  $(".gallery .single-image").fancybox({
    'transitionIn'  : 'elastic',
    'transitionOut' : 'elastic',
    'speedIn'   : 600,
    'speedOut'    : 200,
    'overlayShow' : false
  });
  
  
  /* filter items on button click
  -------------------------------------------------------*/
  $('.filtering').on( 'click', 'button', function() {
  
      var filterValue = $(this).attr('data-filter');
  
      $gallery.isotope({ filter: filterValue });
  
      });
  
  $('.filtering').on( 'click', 'button', function() {
  
      $(this).addClass('active').siblings().removeClass('active');
  
  });
  
  })
  
  $(function () {
  $( ".cover-bg" ).each(function() {
      var attr = $(this).attr('data-image-src');
  
      if (typeof attr !== typeof undefined && attr !== false) {
        $(this).css('background-image', 'url('+attr+')');
      }
  
    });
  
    /* sections background color from data background
    -------------------------------------------------------*/
    $("[data-background-color]").each(function() {
        $(this).css("background-color", $(this).attr("data-background-color")  );
    });
  
  
  /* Owl Caroursel testimonial
    -------------------------------------------------------*/
    
    $('.testimonials .owl-carousel').owlCarousel({
      loop:true,
      autoplay:true,
      items:1,
      margin:30,
      dots: true,
      nav: false,
      
    });
  
  });
</script>

</body>

</html>