<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Roll The Dice</title>
</head>

<body>
    <p id="demo"></p>
    <img id="myImg" src="/static/images/dice roller/static/images/dice 1.png" width="30%" height="auto"></br>
    <button onclick="clickevent()">Roll it Bayybeeee!</button>

    <script>
        var para;
        var rannum;
        function clickevent(){
        rannum = Math.floor(Math.random() * 6) + 1;
        para = document.getElementById("demo");
        
        para.innerHTML = rannum;

        if(rannum==1){
            document.getElementById("myImg").src = "/static/images/dice roller/static/images/dice 1.png";
        }
        if(rannum==2){
            document.getElementById("myImg").src = "/static/images/dice roller/static/images/dice 2.png";
        }
        if(rannum==3){
            document.getElementById("myImg").src = "/static/images/dice roller/static/images/dice 3.png";
        }
        if(rannum==4){
            document.getElementById("myImg").src = "/static/images/dice roller/static/images/dice 4.png";
        }
        if(rannum==5){
            document.getElementById("myImg").src = "/static/images/dice roller/static/images/dice 5.png";
        }
        if(rannum==6){
            document.getElementById("myImg").src = "/static/images/dice roller/static/images/dice 6.png";
        }
    }
    </script>
</body>

</html>